/05_Tareas/RA1_PROG03/Prog03_Ejerc1/nbproject/private/
/05_Tareas/RA1_PROG03/Prog03_Ejerc1/build/
/05_Tareas/RA1_PROG03/Prog03_Ejerc2/Prog03_Ejerc2/nbproject/private/
/05_Tareas/RA1_PROG03/Prog03_Ejerc2/Prog03_Ejerc2/build/
/05_Tareas/2 EV/Tarea_RA4/nbproject/private/
/05_Tareas/2 EV/yagual_mendez_nestor_jesus_Tarea08/nbproject/private/
/05_Tareas/2 EV/yagual_mendez_nestor_jesus_Tarea08/build/
/01_Proyectos/Serpiente/target/
/01_Proyectos/CalculadoraEnvios/target/
/01_Proyectos/CalculadoraSueldo/target/
/02_Apuntes/00 Repaso2EV/T2RepasoExamenJava/target/
